body {
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

/* Header - Titres */
header {
    border: solid 2.5px black;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    margin: 0px;
    padding: 0px;
}
/* Header - Titres */


/* Barre de Navigation */
aside {
    background-color: white;
    position: sticky;
    top: 5px;
    align-self: start;
    grid-column: 1/2;
    grid-row: 2/3;
}
nav, .sommaire {
    border: solid 2.5px black;
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-bottom: 5px;
}
nav > ul, nav > li {
    list-style-type: none;
    padding-inline-start: 0px;
    justify-items: center;
    text-align: center;
    margin: 10px;
}
.sommaire > ol {
    list-style-type: upper-roman;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sommaire > h4, nav > h4 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Barre de Navigation */


/* Main - Articles */
main {
    border: solid 2.5px black;
    grid-column: 2/3;
    grid-row: 2/3;
}
.ListesClés {
    list-style-type: lower-latin;
}
.SchémaBDR > p {
    border: solid 1px;
    padding: 5px;
    margin: 0px;
}
.SchémaBDR > h4 {
    text-align: center;
    text-decoration: underline;
}
main > ol {
    list-style-type: upper-roman;
}
#conclusion > div {
    border: solid 1px;
    padding: 5px;
    margin: 0px;
}
img {
    width: 75%;
    height: 75%;
}
/* Main - Articles */


/* Footer */
footer {
    border: solid 2.5px black;
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
}
footer > h4, footer > p {
    text-align: center;
    margin: 5px;
    padding: 0px;
}
/* Footer */


